.article_card {
    border: 1px solid darkslategrey;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 6px;
}
.article_card:hover {
    cursor: pointer;
    box-shadow: 6px 6px 6px 6px darkslategrey;
}
